__pycache__/
*.py[cod]
*$py.class
.Python
.env
env/
venv/
ENV/
.vscode/
.idea/
.DS_Store
Thumbs.db
data/uploaded_pdfs/*
data/chromadb_storage/*
*.pdf
.streamlit/
.cache/
*.cache
models/pegasus-x/*
models/embeddings/*
*.pt
*.pth
!data/uploaded_pdfs/.gitkeep
!data/chromadb_storage/.gitkeep
!models/.gitkeep
