langchain
langchain-community
langchain-groq
transformers
torch
torchvision
torchaudio
chromadb
sentence-transformers
streamlit
streamlit-chat
python-dotenv
pydantic
pandas
pypdf
pdfplumber
numpy
scipy
scikit-learn
accelerate